<section class="grid h-full text-center place-content-center">
  <div>

    <section class="flex flex-col">

      <div class="mb-10">
        <roc-owl-icon></roc-owl-icon>
      </div>


      <div class="mb-10">
        <h1 class="inline-block pr-4 mr-4 border-r">404</h1>
        <h2 class="inline-block">This page could not be found.</h2>
      </div>

      <div>
        <roc-button-with-icon [fontSet]="'fas'"
                              [fontIcon]="'home'"
                              title="Home"
                              (onClick)="onGoHome()"></roc-button-with-icon>
      </div>


    </section>

  </div>
</section>
