<section class="flex flex-col text-center">

  <div class="my-10">
    <roc-owl-icon></roc-owl-icon>
  </div>

  <div class="my-10">

    <div class="mb-2 text-2xl font-bold text-black">Welcome to ReturnOn College's Modeling Tool</div>

    <div class="text-xs text-gray-400">Please login, or create an account, to explore your future</div>
  </div>


  <div>
    <roc-button-with-icon [fontSet]="'fas'"
                          [fontIcon]="'sign-in-alt'"
                          title="Login"
                          (onClick)="onSignIn()"></roc-button-with-icon>
  </div>

</section>
